<script>
window.JSUCatalogEditorConfig = {
  saveEndpoint: {{ site.data.theme.editor-save-endpoint | default: "" | jsonify }},
  siteSettingsEndpoint: {{ site.data.theme.editor-site-settings-endpoint | default: "" | jsonify }},
  siteSettingsDefaults: {
    primary_color: {{ site.data.theme["primary-color"] | default: "#14213d" | jsonify }},
    secondary_color: {{ site.data.theme["secondary-color"] | default: "#243b63" | jsonify }},
    text_color: {{ site.data.theme.text-color | default: "#111827" | jsonify }},
    link_color: {{ site.data.theme.link-color | default: "#1f3a68" | jsonify }},
    body_font_family: {{ site.data.theme.base-font-family | default: "'Source Sans 3', system-ui, sans-serif" | jsonify }},
    heading_font_family: {{ site.data.theme.heading-font-family | default: "'Source Serif 4', Georgia, serif" | jsonify }},
    featured_image: {{ site.data.theme.featured-image | default: "" | jsonify }},
    home_banner_image_position: {{ site.data.theme.home-banner-image-position | default: "center" | jsonify }}
  }
};
</script>
