{% assign fcount = site.data.config-table | size %}
{% comment %}load DataTables with jquery bundled{% endcomment %}
<script type="text/javascript" language="javascript" src="{{ '/assets/lib/datatables/datatables.min.js' | relative_url }}"></script>
<script>
/* initialize DataTables using jquery */
$(document).ready( function () {
    $('#item-table').DataTable( {
        ajax: { url: '{{ "/assets/js/metadata.min.json" | relative_url }}', dataSrc: 'objects' },
        "deferRender": true,
        "paging": true,
        "lengthMenu": [[ 25, 50, 100, -1], [ 25, 50, 100, "All"]],
        dom: 'B<"data-table-controls row mt-3"<"col-md-4"l><"col-md-8"f>>t<"row mt-3"<"col-md-6"i><"col-md-6"p>>',
        buttons: [ 'excelHtml5', 'csvHtml5' ],
        columns: [ {% for i in (0..fcount) %}{ data: '{{ i }}' }{% unless forloop.last %},{% endunless %}{% endfor %} ],
        columnDefs: [ 
            { "render": function ( data ) { return '{{ site.baseurl }}' + data; },"targets": {{ fcount }} },
            { "render": function ( data, type, row ) { return '<a class="table-record-link" href="' + row['{{ fcount }}'] +'">'+ data +'</a>'; },"targets": 0 },
            { "visible": false,  "targets": [ {{ fcount }} ] }
        ],
        order: [[ 0, "asc" ]],
        language: {
            search: "Filter records",
            lengthMenu: "Show _MENU_ records",
            info: "Showing _START_ to _END_ of _TOTAL_ records",
            paginate: {
                previous: "Previous",
                next: "Next"
            }
        }
    });
});
</script>
